.content {
  min-width: 50px;
  background-color: var(--crm-ui-kit-palette-background-primary);
  border: 1px solid var(--crm-ui-kit-palette-border-default);
  border-radius: 3px;
  box-shadow:
    0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.content > :first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.content > :last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.blocker {
  position: fixed;
  cursor: default;
  inset: 0;
  background: transparent;
  z-index: 7;
}