.label {
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  padding: var(--crm-ui-kit-context-menu-label-padding);
  color: var(--crm-ui-kit-context-menu-label-color);
  background: var(--crm-ui-kit-context-menu-label-background);
}
