.value {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  outline: none;
  gap: 8px;
  color: var(--crm-ui-kit-palette-text-primary);
}

.label {
  margin-right: 8px;
  font-weight: 400;
  color: var(--crm-ui-kit-palette-text-secondary-light);
}

.placeholder {
  display: inline;
}
