.value {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  outline: none;

  padding: var(--crm-ui-kit-context-menu-sub-select-value-padding);
  gap: var(--crm-ui-kit-context-menu-sub-select-value-gap);
  color: var(--crm-ui-kit-context-menu-sub-select-value-color);
}

.label {
  margin: var(--crm-ui-kit-context-menu-sub-select-value-label-margin);
  font-weight: var(
    --crm-ui-kit-context-menu-sub-select-value-label-font-weight
  );
  color: var(--crm-ui-kit-context-menu-sub-select-value-label-color);
}

.placeholder {
  display: inline;

  font-weight: var(
    --crm-ui-kit-context-menu-sub-select-value-placeholder-font-weight
  );
  color: var(--crm-ui-kit-context-menu-sub-select-value-placeholder-color);
}
