.content {
  min-width: var(--crm-ui-kit-context-menu-content-min-width);
  background: var(--crm-ui-kit-context-menu-content-background);
  border: var(--crm-ui-kit-context-menu-content-border-width)
    var(--crm-ui-kit-context-menu-content-border-style)
    var(--crm-ui-kit-context-menu-content-border-color);
  border-radius: var(--crm-ui-kit-context-menu-content-border-radius);
  box-shadow: var(--crm-ui-kit-context-menu-content-box-shadow);
  overflow: hidden;
}
