.sub_trigger {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  outline: none;
  padding: 10px 16px;
  color: var(--crm-ui-kit-palette-text-primary);
  background-color: var(--crm-ui-kit-palette-background-primary);
  cursor: pointer;

  &[data-disabled] {
    color: var(--crm-ui-kit-palette-text-secondary-light);
    cursor: auto;
  }

  &[data-highlighted] {
    background-color: var(--crm-ui-kit-palette-background-default);
  }
}

.sub_trigger > :not(:last-child) {
  margin-right: 8px;
}
