.sub_trigger {
  position: relative;
  display: flex;
  user-select: none;
  outline: none;
  padding: 10px 16px 10px 40px;
  gap: 8px;
  color: var(--crm-ui-kit-palette-text-primary);
  background-color: var(--crm-ui-kit-palette-background-primary);
  cursor: pointer;

  &[data-disabled] {
    color: var(--crm-ui-kit-palette-text-secondary-light);
    cursor: auto;
  }

  &[data-highlighted] {
    background-color: var(--crm-ui-kit-palette-background-default);
  }

  &[data-no-icon-align] {
    padding: 10px 16px;
  }
}
