.sub_content {
  min-width: 100px;
  background-color: var(--crm-ui-kit-context-menu-sub-content-background-color);
  border: var(--crm-ui-kit-context-menu-sub-content-border-size) solid
    var(--crm-ui-kit-context-menu-sub-content-border-color);
  border-radius: var(--crm-ui-kit-context-menu-sub-content-border-radius);
  overflow: var(--crm-ui-kit-context-menu-sub-content-overflow);
  box-shadow: var(--crm-ui-kit-context-menu-sub-content-box-shadow);
}
