.sub_content {
  min-width: 50px;

  background-color: var(--crm-ui-kit-palette-background-primary);
  border: 1px solid var(--crm-ui-kit-palette-border-default);
  border-radius: 3px;
  overflow: hidden;
  box-shadow:
    0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}
