.radio_item {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  outline: none;

  padding: 10px 16px 10px 40px;
  color: var(--crm-ui-kit-palette-text-primary);
  background-color: var(--crm-ui-kit-palette-background-primary);
  cursor: pointer;

  &[data-disabled] {
    color: var(--crm-ui-kit-palette-text-secondary-light);
    cursor: auto;
  }

  &[data-highlighted] {
    background-color: var(--crm-ui-kit-palette-background-default);
  }

  &[data-state='checked'] {
    color: var(--crm-ui-kit-palette-active-element-900);
  }

  &[data-no-icon-align] {
    padding: 10px 16px;
  }
}

.radio_item > :not(:last-child):not([data-blocker]) {
  margin-right: 8px;
}

.blocker {
  position: absolute;
}