.meta_item {
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  padding: 10px 16px 10px 40px;
  gap: 8px;
  color: var(--crm-ui-kit-palette-text-primary);
  background-color: var(--crm-ui-kit-palette-background-primary);

  &[data-no-icon-align] {
    padding: 10px 16px;
  }
}

.label {
  margin-right: 8px;
  color: var(--crm-ui-kit-palette-text-secondary-light);
}

.copy_icon {
  cursor: pointer;
  margin-left: 4px;
  color: var(--crm-ui-kit-palette-text-secondary-light);
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
