.label {
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  padding: 10px 16px;
  color: var(--crm-ui-kit-palette-text-primary);
  background-color: var(--crm-ui-kit-palette-background-primary);
}

.label > :not(:last-child) {
  margin-right: 8px;
}
