.label {
  position: relative;
  display: flex;
  outline: none;

  padding: var(--crm-ui-kit-context-menu-label-padding);
  gap: var(--crm-ui-kit-context-menu-label-gap);
  color: var(--crm-ui-kit-context-menu-label-color);
  font-weight: var(--crm-ui-kit-context-menu-label-font-weight);

  &[data-no-icon-align] {
    padding: var(--crm-ui-kit-context-menu-label-without-icon-align-padding);
  }
}
