.label {
  position: relative;
  display: flex;
  outline: none;
  padding: 10px 16px 10px 40px;
  color: var(--crm-ui-kit-palette-text-primary);
  background-color: var(--crm-ui-kit-palette-background-primary);

  &[data-no-icon-align] {
    padding: 10px 16px;
  }
}

.label > :not(:last-child) {
  margin-right: 8px;
}
