@keyframes spinnerAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

.spinner {
  display: block;

  &::before {
    content: '';
    display: block;
    width: var(--crm-ui-kit-spinner-circle-size);
    height: var(--crm-ui-kit-spinner-circle-size);
    border-style: var(--crm-ui-kit-spinner-border-style);
    border-color: transparent;
    border-width: var(--crm-ui-kit-spinner-border-width);
    border-top-color: var(--crm-ui-kit-spinner-border-color);
    border-left-color: var(--crm-ui-kit-spinner-border-color);
    border-radius: 100%;
    animation: spinnerAnimation 900ms linear infinite;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
