.rightSlot {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 16px;
}

.rightSlot > :not(:last-child) {
  margin-right: 8px;
}

.rightSlot[data-submenu-right-slot] {
  padding-left: 0;
}
