.custom_scroll {
  /* Only for Firefox */
  scrollbar-color: var(--crm-ui-kit-palette-scrollbar-thumb-background) inherit;

  &::-webkit-scrollbar {
    width: var(--crm-ui-kit-palette-scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background: var(--crm-ui-kit-palette-scrollbar-track-background);
    border-radius: var(--crm-ui-kit-border-radius-default);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--crm-ui-kit-palette-scrollbar-thumb-border-radius);
    background: var(--crm-ui-kit-palette-scrollbar-thumb-background);
  }
}
