.item {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  outline: none;

  padding: var(--crm-ui-kit-context-menu-item-padding);
  gap: var(--crm-ui-kit-context-menu-item-gap);
  color: var(--crm-ui-kit-context-menu-item-color);
  cursor: var(--crm-ui-kit-context-menu-item-cursor);

  &[data-disabled] {
    color: var(--crm-ui-kit-context-menu-item-disabled-color);
    cursor: var(--crm-ui-kit-context-menu-item-disabled-cursor);
  }

  &[data-danger] {
    color: var(--crm-ui-kit-context-menu-item-danger-color);
  }

  &[data-highlighted] {
    background-color: var(
      --crm-ui-kit-context-menu-item-hovered-background-color
    );
  }

  &[data-no-icon-align] {
    padding: var(--crm-ui-kit-context-menu-item-without-icon-align-padding);
  }
}