.item {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  outline: none;
  padding: 10px 16px 10px 40px;
  gap: 8px;
  color: var(--crm-ui-kit-palette-text-primary);
  background-color: var(--crm-ui-kit-palette-background-primary);
  cursor: pointer;

  &[data-not-selectable] {
    cursor: auto;
    user-select: text;
    padding: 10px 16px;
  }

  &[data-has-submenu] {
    padding: 0 0 0 40px;
  }

  &[data-disabled] {
    color: var(--crm-ui-kit-palette-text-secondary-light);
    cursor: auto;
  }

  &[data-danger] {
    color: var(--crm-ui-kit-color-error);
  }

  &[data-highlighted] {
    background-color: var(--crm-ui-kit-palette-background-default);
  }

  &[data-no-icon-align] {
    padding-left: 16px;
  }
}
