.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  color: var(--crm-ui-kit-palette-text-primary);
  background-color: var(--crm-ui-kit-palette-background-primary);
  cursor: pointer;
  user-select: none;
  outline: none;

  &[data-highlighted] {
    background-color: var(--crm-ui-kit-palette-background-default);
  }

  &.danger {
    color: var(--crm-ui-kit-color-error);
  }

  &.nonSelectable {
    cursor: auto;
    user-select: text;
  }

  &.disabled {
    color: var(--crm-ui-kit-palette-text-secondary-light);
    cursor: auto;
  }
}

.item > :not(:last-child) {
  margin-right: 8px;
}
