.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--crm-ui-kit-context-menu-item-padding);
  color: var(--crm-ui-kit-context-menu-item-color);
  background: var(--crm-ui-kit-context-menu-item-background);
  cursor: pointer;
  user-select: none;
  outline: none;
  text-decoration: none;

  &[data-highlighted] {
    background: var(
      --crm-ui-kit-context-menu-item-highlighted-background
    );
  }

  &.danger {
    color: var(--crm-ui-kit-context-menu-item-danger-color);
  }

  &.nonSelectable {
    cursor: auto;
    user-select: text;
  }

  &.disabled {
    color: var(--crm-ui-kit-context-menu-item-disabled-color);
    cursor: auto;
  }
}
