.icon {
  display: flex;
  align-items: center;
  justify-content: end;
  color: inherit;
  min-width: var(--crm-ui-kit-context-menu-item-icon-min-width);
  margin-right: var(--crm-ui-kit-context-menu-item-icon-margin-right);
}
